<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangji.xposed_2">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="第一个Xposed项目测试111" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />

    </application>

</manifest>